p {
	text-align: justify;
	font-size: 15px;
}

li {
	font-size: 15px;
}

body {
	font-size: 15px;
}

.comment {
	color:#999999;
	display:inline;
}

.keyword {
	color:#2E2EFE;
	display:inline;
}

.codediv {
	border-style: dotted;
	border-width: 1px;
	background-color:#FCFCE0;
	margin-right: 350px; 
	color: black;
}

.content {
	padding: 30px;
	align-content: center;
}